body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  margin: 0 auto;
  background-color: #282d4f;
  text-align: center;
}

h1 {
  font-size: 100px;
}

button {
  display: inline-block;
  background-color: #a0204c;
  border: 0;
  min-width: 60px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}
